<div class="lg-modal">
    <div class="modal-content">
        <form>


            <img src="../../../assets/image/user-profile.png" class="profile-image">


            <div class="input-icons">
                <i class="fa fa-envelope icon"></i>
                <input class="log-reg" type="email" placeholder="E-mail" name="email" required>
            </div>

            <div class="input-icons">
                <i class="fa fa-key icon"></i>
                <input class="log-reg" type="password" placeholder="Password" name="password" required>
            </div>

            <div class="forgotPassword">
                <span>Forgot Password?</span>
            </div>

            <input class="sign-in" type="submit" value="Sign in" name="login-btn">

            <div class="connect">
                <button type="button" class="gmailBtn">
                    <i class="fa fa-google" aria-hidden="true" id="gmail"></i>
                </button>
                <button type="button" class="facebookBtn">
                    <i class="fa fa-facebook-square" aria-hidden="true" id="facebook"></i>
                    
                </button>
            </div>

        </form>
    </div>
</div>