<body>
    <div class="nav-bar">
        <ul type="none">
            <li><a><i class='fa fa-user-circle'></i>Profile</a></li>
            <li><a>Online order</a></li>
            <li><a>Daily menu</a></li>
            <li><a>About</a></li>
            <li><a>Contact us</a></li>
            <li><a>Sign in</a></li>
            <li><a (click) = "sendRegister()">Sign up</a></li>
            <li><a>Logout</a></li>
        </ul>
    </div>

    <div class="motto">
        <h1>Welcome!</h1>

        <h4>Food as it should be. Food should taste good.
            It should fell good. It should do good things for you and the world around you.
        </h4>

        <h2 class="text">Reserve a cook</h2>

        <div class="reserve_btn">
            <form action="">
                <input type="button" value="Start Now">
            </form>
        </div>
    </div>
</body>