<body>
    <div class="nav-bar">
        <ul type="none">
            <li><a *ngIf="hideBarLink" (click) = "sendProfile()"><i class='fa fa-user-circle'></i>Profile</a></li>
            <li><a *ngIf="hideBarLink" (click) = "sendOrder()">Online order</a></li>
            <li><a (click)="sendDailyMenu()">Daily menu</a></li>
            <li><a (click)="sendTeam()">Team</a></li>
            <li><a (click)="sendContact()">Contact us</a></li>
            <li><a (click)="sendFav()">Favourites Food</a></li>
            <li><a (click)="sendReview()">Reviews</a></li>
            <li><a (click)="sendCareer()">Career</a></li>
            <li><a  *ngIf="!hideBarLink" (click) = "sendLogin()">Sign in</a></li>
            <li><a *ngIf="!hideBarLink" (click) = "sendRegister()">Sign up</a></li>
            <li><a *ngIf="hideBarLink" (click) = "logout()">Logout</a></li>
        </ul>
    </div>

    <div class="motto">
        <h1>Welcome!</h1>

        <h4>Food as it should be. Food should taste good.
            It should fell good. It should do good things for you and the world around you.
        </h4>

        <h2 class="text">Reserve a cook</h2>

        <div class="reserve_btn">
            <form action="">
                <input type="button"(click)="sendTeam()" value="Start Now">
            </form>
        </div>
    </div>
</body>