
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: 'Muli', sans-serif;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)),
    url("/assets/image/foodd.jpg")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    min-height: 100vh;
    width: 100%;
}


.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    bottom: 20px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    position: fixed;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color:  #19193a; 
}
 

 
.tabcontent {
  
   color: white;
   background-color: rgb(94, 104, 107);
   padding: 25px 50px 75px 100px;
   background-image: linear-gradient(to bottom right, rgb(88, 76, 76), rgb(0, 0, 0));
   background: rgba(52, 59, 52, 0.3);

   border: 15px solid rgb(24, 20, 20);
   margin-left: 25%;
   margin-right: auto;
   border-radius: 15px 50px;
   /* width: 60%;  */
   
   max-width: 1000px;

   position: absolute;
   top: 30%;
  
   text-align: center;
   font-size: 18px;

  
}

.tabcontent p{
  font-style: italic;
  font-size: 30px;
 
}

.tabcontent button{
  background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transform: translate(-50%,-50%);
    margin-top: 10px;
    margin-left: 700px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;

}

.tabcontent button:hover {
  background-color: #19193a; 
}
