@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: 'Muli', sans-serif;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)),
    url("../../../assets/image/foodd.jpg")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    min-height: 100vh;
    width: 100%;
}


.button {
    background-color: #1e241e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 800px 800px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #19193a; 
}
