<div class="container">

    <div class="nav-bar">
        <ul type="none">
            <li><a *ngIf="!hideBarLink" (click) = "back()">Back</a></li>
            <li><a *ngIf="hideBarLink" (click) = "sendHome()">Home</a></li>
            <li><a *ngIf="hideBarLink" (click) = "sendProfile()"><i class='fa fa-user-circle'></i>Profile</a></li>
            <li><a *ngIf="hideBarLink">Online order</a></li>
            <li><a>Daily menu</a></li>
            <li><a *ngIf="hideBarLink" (click) = "logout()">Logout</a></li>
        </ul>
    </div>

    <h1>Send Us A Message</h1>

    <form [formGroup]="FormData" (ngSubmit)="onSubmit()">
        <div data-validate="Please enter your name">
            <input class="input" type="text" placeholder="Name" formControlName="name" placeholder="Your name">
        </div>
    

        <div data-validate = "Please enter your email: e@a.x">
            <input class="input" type="text" placeholder="Email" formControlName="email" placeholder="Your e-mail">
        </div>

        <div data-validate = "Please enter your message">
            <textarea class="textarea" placeholder="Message" formControlName="message" placeholder="Your Message"></textarea>
        </div>

        <button class="btnSubmit" type="submit" [disabled]="FormData.invalid">Submit</button>
    
    </form>
</div>