@import url("https://fonts.googleapis.com/css?family=Muli");

.card_team {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: inline-block;
}

.card_team:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.continut {
  padding: 2px 16px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.buton {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button {
  background-color: rgb(10, 82, 87);
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 12px;
  transition-duration: 0.4s;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.buton:hover {
  background-color: #19193a;
  text-transform: uppercase;
}

.button:hover {
  background-color: #122521;
  text-transform: uppercase;
}
.star {
  margin-left: 280px;
}
.modal-dialog {
  font-family: "Muli", sans-serif;
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 30%;
  margin: 0 auto;
}
.modal-header {
  background-color: rgb(52, 43, 63);
}
.modal-content {
  overflow: hidden;
  background: url("/assets/image/b.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.modal-body {
  color: black;
  height: 100%;
  background: url("/assets/image/b.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log {
  width: 80%;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid;
}
.back{
  margin-left: 570px;
  cursor: pointer;
}

.closen{
  cursor: pointer;
}
