<div class="body-page">
    <div class="nav-bar">
        <ul type="none">
            <li><a (click)="sendProfile()"><i class='fa fa-user-circle'></i>
                    Profile</a></li>
            <li><a (click)="sendHome()">Home</a></li>
            <li><a (click)="sendDailyMenu()">Daily menu</a></li>
            <li><a (click)="sendTeam()">Team</a></li>
            <li><a (click)="sendContact()">Contact us</a></li>
            <li><a (click)="sendFav()">Favourite Food</a></li>
            <li><a (click)="sendCareer()">Career</a></li>
            <li><a (click)="showCart()">Cart ({{ numberItems }})</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>


    <div class="title">
        <h3>Madame</h3>
        <h4>~Online order~</h4>
    </div>

    <div class="type-dish">
        <ul type="none">
            <li><a (click)="showHide(1)">Pizza</a></li>
            <li><a (click)="showHide(2)">Pasta</a></li>
            <li><a (click)="showHide(3)">Soup</a></li>
            <li><a (click)="showHide(4)">Specialitie</a></li>
            <li><a (click)="showHide(5)">Meat</a></li>
            <li><a (click)="showHide(6)">Gasket</a></li>
            <li><a (click)="showHide(7)">Sweet</a></li>
            <li><a (click)="showHide(8)">Drink</a></li>

        </ul>
    </div>

    <hr>

    <div class="products__container" id="course1">
        <table>
            <ng-container  *ngFor="let product of pizzas">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="width: 30%;"/>
                    </td>
                    <td>
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course2">
        <table>
            <ng-container *ngFor="let product of pastas">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="width: 30%;"/>
                    </td>
                    <td style="width: 670px;">
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course3">
        <table>
            <ng-container *ngFor="let product of soups">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="width: 30%;"/>
                    </td>
                    <td style="width: 670px;">
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course4">
        <table>
            <ng-container *ngFor="let product of specialities">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="width: 30%;"/>
                    </td>
                    <td>
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course5">
        <table>
            <ng-container  *ngFor="let product of meats">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="width: 30%;"/>
                    </td>
                    <td style="width: 650px;">
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course6">
        <table>
            <ng-container *ngFor="let product of  gaskets">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="width: 40%;"/>
                    </td>
                    <td>
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course7">
        <table>
            <ng-container *ngFor="let product of sweets">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo"/>
                    </td>
                    <td>
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <div class="products__container" id="course8">
        <table>
            <ng-container *ngFor="let product of drinks">
                <tr>
                    <td>
                        <img *ngIf="product.photo" class="product__image" [src]="product.photo" style="max-width: 60%;"/>
                    </td>
                    <td>
                        <strong class="product__title">{{ product.name }}</strong>
                        <p class="product_description">{{ product.description }}</p>
                        <em class="product__price">{{ product.price | currency: 'EUR' }}</em>
                    </td>
                    <td>
                        <button class="put_in_cart" (click)="addProductCart(product)"><i class="fa fa-shopping-basket"></i></button>
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>

    <app-cart *ngIf="hidePopupCart" (close)="closeCart()"></app-cart>

</div>