<div class="modal">
    <div class="content">
  
      <div class="row" *ngIf="error">
        <div class="col-12 alert alert-danger">{{ error?.message }}</div>
      </div>
  
      <h2>Forgot your password?</h2>
  
      <p class="text-center">Please enter your email address below and we'll send 
        <br> you instruction on how to change your password.</p>
  
      <div class="input-icons">
        <i class="fa fa-envelope icon" ></i>
        <input type="email" class="email" placeholder="Email Address" #passwordResetEmail required>
      </div>
  
      <div class="input-icons">
        <input type="submit" class="submitBtn" value="Reset Password" (click)="resetPassword(passwordResetEmail.value)">
      </div>
  
      <div class="input-icons">
        <i class="fa fa-arrow-left icon" id="arrow"></i>
        <button type="button" class="homeBtn" (click)="sendHome()">Home</button>
      </div>
  
    </div>
  </div>