@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)),
    url("/assets/image/foodd.jpg")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.moto{
    margin: auto;
    width:50%;
    padding: 10px;
    margin-bottom: 50px;
}

.moto h1{
    color: white;
    font-family: 'Muli', sans-serif;
    padding: 100px;
    width: 1000px;
    height: 100px;
    text-align: center;   
}

.btn-bar  {
    float: inline-start;
    margin-left: 200px;
    border: 1px solid none;
    padding-top: 50px;
    padding-left: 125px;
}

.btn-bar  ul li {
    cursor: pointer;
    float: left;
    text-align: center;
    margin: 30px, 1px;
    width: 150px;
}

.btn-bar  ul li a {
    text-decoration: none;
    color: darkgray;
    font-size: 20px;
    font-weight: bold;
}

.btn-bar  ul li a:hover {
    text-transform: uppercase;
}
.favFood {
    margin: auto;
    width:50%;
    text-align: center;
}
.favFood li{
    display: inline-block;
    padding: 15px;
}
.button {
    background-color: #1e241e; 
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    margin: 3px;
  }
.button:hover {
   background-color: #1c1c6e; 
}

