@import url('https://fonts.googleapis.com/css?family=Muli');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)),
    url("/assets/image/foodd.jpg")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.moto{
    margin: auto;
    width:50%;
    padding: 10px;
    margin-bottom: 150px;
}

.moto h1{
    color: while;
    font-family: 'Muli', sans-serif;
    padding: 100px;
    width: 1000px;
    height: 200px;
    text-align: center;   
}
.favFood {
    margin: auto;
    width:50%;
    text-align: center;
}
.favFood li{
    display: inline-block;
    padding: 10px;
}
.button {
    background-color: #1e241e; 
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
    margin: 3px;
  }
.button:hover {
   background-color: #1c1c6e; 
}

.btn-bar {
    float: center;
    display: inline;
    margin-left: 25px;
    border: 1px solid none;
    max-width: 488px;
}
.btn-bar button{
    width: 12%;
}