<body>
    <div class="nav-bar">
        <ul type="none">
            <li><a (click)="sendHome()">Home</a></li>
            <li><a><i class='fa fa-user-circle'></i>Profile</a></li>
            <li><a *ngIf="!hideBarLink" (click)="sendLogin()">Sign in</a></li>
            <li><a *ngIf="!hideBarLink" (click)="sendRegister()">Sign up</a></li>
            <li><a (click)="sendTeam()">Team</a></li>
            <li><a (click)="sendReview()">Reviews</a></li>
        </ul>
    </div>

    <div class="moto">
        <h1>Vote your favourite products!</h1>
    </div>

    <div class="btn-bar">
    <button class="button" (click)="populate('drink')">Drinks</button>
    <button class="button" (click)="populate('gasket')">Gasket</button>
    <button class="button" (click)="populate('meat')">Meat</button>
    <button class="button" (click)="populate('pasta')">Pasta</button>
    <button class="button" (click)="populate('pizza')">Pizza</button>
    <button class="button" (click)="populate('soup')">Soup</button>
    <button class="button" (click)="populate('specialitie')">Specialities</button>
    <button class="button" (click)="populate('sweet')">Sweet</button>
    </div>
   
    <div class="favFood">

        <ul >
            <li  *ngFor="let favFood of productList">
              <fav-food [favFood]=favFood></fav-food>
            </li>
          </ul> 
        
    </div>
</body>