<body>
    <div class="nav-bar">
        <ul type="none">
            <li><a (click)="sendHome()">Home</a></li>
            <li><a *ngIf="hideBarLink" (click) = "sendProfile()"><i class='fa fa-user-circle'></i>Profile</a></li>
            <li><a *ngIf="hideBarLink" (click) = "sendOrder()">Online order</a></li>
            <li><a (click)="sendMenu()">Menu</a></li>
            <li><a (click)="sendTeam()">Team</a></li>
            <li><a (click)="sendContact()">Contact us</a></li>
            <li><a (click)="sendReview()">Reviews</a></li>
            <li><a (click)="sendCareer()">Career</a></li>
            <li><a  *ngIf="!hideBarLink" (click) = "sendLogin()">Sign in</a></li>
            <li><a *ngIf="!hideBarLink" (click) = "sendRegister()">Sign up</a></li>
            <li><a *ngIf="hideBarLink" (click) = "logout()">Logout</a></li>
     
        </ul>
    </div>

    <div class="moto">
        <h1>Vote your favourite products!</h1>
    </div>

    <div class="btn-bar">
        <ul type="none">
            <li><a (click)="populate('drink')">Drink</a></li>
            <li><a (click)="populate('pasta')">Pasta</a></li>
            <li><a (click)="populate('soup')">Soup</a></li>
            <li><a (click)="populate('specialitie')">Specialities</a></li>
            <li><a (click)="populate('meat')" >Meat</a></li>
            <li><a (click)="populate('gasket')">Gasket</a></li>
            <li><a (click)="populate('sweet')">Sweets</a></li>
            <li><a (click)="populate('pizza')">Pizza</a></li>
        </ul>
    </div>
   
   
    <div class="favFood">
     
        <ul >
            <li  *ngFor="let favFood of productList">
              <fav-food [favFood]=favFood></fav-food>
            </li>
          </ul> 
        
    </div>
</body>